<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="Creator" content="name" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css" />

    <title>ABOUT</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/views/audio.html">audio</a></li>
        <li><a href="/views/list.html">list</a></li>
        <li><a href="/views/storefront.html">storefront</a></li>
        <li><a href="/views/table.html">table</a></li>
        <li><a href="/views/video.html">video</a></li>

      </ul>
    </nav>
    <h1>ABOUT THE AUTHOR</h1>
    <h2>Name</h2>
    <p>Nandini Sharma</p>
    <h3>Little information about myself</h3>
    <p>
      Hola! my name is Nandini and from past year i am enrolled in CPP in the markham campus and fpr future i am looking to be a web developer, my hobbies include reading and writing which is completely different to what i study but i guess thats what it is.
    </p>
    <h4>I am available by mail:</h4>
    <p>e-mail : nsharma177@myseneca.ca</p>
    <h5>My ID</h5>
    <p>Student Id: 127407211</p>
  </body>
</html>