<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>

<body>
    <nav>
        <ul>
          <li><a href="/views/audio.html">audio</a></li>
          <li><a href="/views/home.html">home</a></li>
          <li><a href="/views/storefront.html">storefront</a></li>
          <li><a href="/views/table.html">table</a></li>
          <li><a href="/views/video.html">video</a></li>
  
        </ul>
      </nav>
    <h1> My Website </h1>
    <p> I will be showcasing some of my web learnings
    </p>
    <h2>Let's get started</h2>
    <p>
        Name:<b> Nandini Sharma </b>, Student ID: <b>127407211</b> , Course Program: <b>Computer Programming</b>
    <h2> Vegetables </h2>
    <ul>
        <li>Carrot</li>
        <li>
            Spinach
                <p> from top to bottom spinach acts on every organ from iron deficiency to strong bones and eyes</p>
                <ol>
                <li>Calories: 23 </li>
                <li>Water: 91%</li>
                <li>Fat: 0.4 grams</li>
            </ol>

        </li>
        <li>cilantro</li>
        <li>beetroot</li>
        <li>pumpkin</li>
    </ul>
</body>

</html>