<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>

    <style>
        table,
        th,
        td {
            border: 1px solid rgb(198, 15, 15);
            border-collapse: collapse;
        }

        th,
        td {
            padding: 20px;
        }

        th {
            text-align: center;
        }
        
    </style>
</head>

<body>
    <nav>
        <ul>
          <li><a href="/views/audio.html">audio</a></li>
          <li><a href="/views/home.html">home</a></li>
          <li><a href="/views/list.html">list</a></li>
          <li><a href="/views/storefront.html">storefront</a></li>
          <li><a href="/views/video.html">video</a></li>
  
        </ul>
      </nav>
    <h1>Tables</h1>
    <h2>From reading to watching</h2>
    <table>
        <thead>
            <tr>
                <th>Books</th>
                <th>Authors</th>
                <th>Movies</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The Secret</td>
                <td> It starts with us</td>
                <td> Spiderman Homecoming</td>
            </tr>
            <tr>
                <td> It ends with us</td>
                <td> Mark Twain</td>
                <td> Final destination</td>
            </tr>
            <tr>
                <td> The Child</td>
                <td> Ernest Hemingway</td>
                <td> Pursuit of Happiness</td>
            </tr>
        </tbody>
</body>
</html>