<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
</head>

<body>
    <nav>
        <ul>
          <li><a href="/views/audio.html">audio</a></li>
          <li><a href="/views/home.html">home</a></li>
          <li><a href="/views/list.html">list</a></li>
          <li><a href="/views/storefront.html">storefront</a></li>
          <li><a href="/views/table.html">table</a></li>
  
        </ul>
      </nav>
    <h2>So what are we watching</h2>
    <video controls>
        <source src= "https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/movie.mp4" >
        <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.ogg" type="video/ogg">
        OOPS! THE BROWSER FAILS TO SUPPORT THE VIDEO
    </video>
    <p> The following video is the links shared by my professor whose name is Tanvir Alam. </p>
</body>

</html>